/* Color guide
Check https://coolors.co/0081a7-00afb9-fdfcdc-fed9b7-f07167 for more info
Dark Blue : #0081A7
Light Blue : #00AFB9
Yellow : #FDFCDC
Light Orange : #FED9B7
Dark Orange : #F07167
*/

body {
  background-color: #0081A7;
}

nav {
  display: flex;
  padding: 1em 10em 1em 10em;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  font-size: 1.3em;
  color: #FED9B7;
}

a:hover {
  color: #F07167;
}
